{{> navbar}}

<h1>Saved Articles</h1>

<div class="container">
    <div id="articles">
        {{#each articles}} {{#if saved}}
        <div class="row">
            <div class="col-md-3">
                <img class="article-image" src="{{image}}">
            </div>
            <div class="col-md-7">
                <h3>{{title}}</h3>
                <p class="summary">{{summary}}</p>
                <p>
                    <span>{{dateDisplay}}</span>
                    <a href="{{link}}" target="_blank">Read More -></a>
                </p>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-primary comment" data-toggle="modal" data-target="#commentModal" data-article-id="{{_id}}">Comments</button>
                <button class="btn btn-primary unsave-article" data-article-id="{{_id}}">Remove</button>
            </div>

            <div class="col-md-12">
                <hr>
            </div>
        </div>


        {{/if}} {{/each}}
    </div>

    {{> comment-modal}}

</div>